// Import Source Sans Pro and Source Code Pro
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700|Oswald|Source+Code+Pro);

// Bootstrap
// // Core variables and mixins
@import "variables";
@import "mixins";

// // Reset and dependencies
@import "normalize";
@import "print";

// // Core CSS
@import "reboot";
@import "type";
@import "images";

// Custom SCSS
// // Buttons

.button-primary,
.button-outline,
header .navigation a {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: $border-width solid transparent;
  margin: 5px 0;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }
}

.button-primary {
  color: $gray-dark;
  background-color: $brand-primary;
  border: none;
  //  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  //  .box-shadow($shadow);

  $active-background: $gray-dark;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $active-background;
  }
  @include hover {
    color: #fff;
    background-color: $active-background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    // Remove the gradient for the pressed/active state
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    &:focus,
    &.focus {
      background-color: $brand-primary;
    }
    @include hover {
      background-color: $brand-primary;
    }
  }
}

.button-outline {
  color: $gray-dark;
  background-image: none;
  background-color: transparent;
  border-color: $gray-dark;
  border-width: 2px;
  font-weight: bold;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $gray-dark;
        border-color: $gray-dark;
  }
  @include hover {
    color: #fff;
    background-color: $gray-dark;
        border-color: $gray-dark;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    &:focus,
    &.focus {
      border-color: lighten($gray-dark, 20%);
    }
    @include hover {
      border-color: lighten($gray-dark, 20%);
    }
  }
}

// // Navbar

header {
  background-color: $gray;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;

  @include media-breakpoint-up(md)  {
    justify-content: space-between;
    align-items: center;
    text-align: none;
  }

  .title {
    color: #fff;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    line-height: 1;

    a {
      color: inherit;
      font-weight: normal;
      &:focus,
      &.focus,
      &:active,
      &.active {
        text-decoration: none;
      }
      @include hover {
        text-decoration: none;
      }
    }

    .location {
      color: #818a91;
    }
  }

  .navigation {
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;

    @include media-breakpoint-up(md) {
      margin-right: 1rem;
    }

    li {
      margin: 0rem 0.25rem 0.5rem;
      line-height: 1;

      @include media-breakpoint-up(md) {
        margin: 0.5rem 0.25rem;
      }
    }

    a {
      color: #fff;
      background-image: none;
      background-color: transparent;
      border-color: #fff;
      border-width: 2px;
      font-weight: bold;
      padding: 0.25em 0.5em;
      margin: 0;
      &:not(:first-child) {
        margin: 0 0 0 0.5em;
      }

      &:focus,
      &.focus,
      &:active,
      &.active,
      .open > &.dropdown-toggle {
        color: $gray;
        background-color: #fff;
            border-color: #fff;
      }
      @include hover {
        color: $gray;
        background-color: #fff;
            border-color: #fff;
      }
    }
  }
}

.masthead {
  background: url("../img/UptownCircle.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 3rem;

  .overlay {
    width: 100%;
    background-color: rgba(247,218,3,0.7);
  }

  .wrapper {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem 2rem;
    text-align: center;

    .logo {
      height: auto;
      max-width: 80%;
      margin: 0 auto 1em;
    }

    p {
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }

    .description {
      letter-spacing: .05em;
      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }
  }
}

.main {
  max-width: 60em;
  @include make-container();

  .divider {
    margin: 3rem 4rem;
  }
}

.about-nodeschool {
  text-align: center;
  .description {
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      letter-spacing: .05em;
    }
  }
}

.slingshot {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .info-wrapper {
    flex: 0 0 100%;
    padding-bottom: 1rem;
    align-self: center;

    @include media-breakpoint-up(md) {
      flex: 0 0 58.33333%;
      padding-bottom: 0;
      padding-right: 2rem;
    }

    .title {
      a {
        color: inherit;
        font-weight: normal;
        &:focus,
        &.focus,
        &:active,
        &.active {
          text-decoration: none;
        }
        @include hover {
          text-decoration: none;
        }
      }
    }

    .description {
      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
        letter-spacing: .05em;
      }
    }
  }

  .map-wrapper {
    flex: 0 0 100%;

    position: relative;
    padding-bottom: 39.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      min-width: 100%;
      *width: 100%;
      height: 100%;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 41.66667%;
    }
  }
}

.organizers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;

  margin-bottom: 3rem;

  .title,
  .description {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      letter-spacing: .05em;
    }
  }

  .organizer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;

    text-align: center;

    .avatar {
      max-width: 200px;
      height: auto;
      border-radius: 100%;
      margin: 1rem;
    }

    .button-outline {
      margin: 1rem auto 2rem;
    }
  }
}
